.env
.env.*
!.env.example

.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

__pycache__
*.py[cod]
*.pyo

.venv
venv
env

Dockerfile
compose.yaml
docker-compose.yml

docs
tests
*.md
