# Aplicacion
APP_NAME=DataSacCore
APP_VERSION=0.1.0
CHECK_DATABASE_ON_STARTUP=true
CHECK_MONGO_ON_STARTUP=true

# SQL Server principal
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=1433
DB_NAME=
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=no
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800
DB_QUERY_TIMEOUT=30

# MongoDB
MONGO_URI=
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000
MONGO_LOGS_DB_NAME=logs
MONGO_DATASAC_DB_NAME=DataSac
MONGO_MAYOR_AUXILIAR_DB_NAME=MayorAuxiliar
MONGO_ANALYTIC_SAC_DB_NAME=AnalyticSac
